@import "./../../style/scss/vars";

.station {
  display: flex;
  flex-direction: row;
  background-color: $gray0;
  border-radius: 2px;
  border: 1px solid $gray1;
  padding:10px;
  position: relative;

  .stationImage{
    align-self: top;
    border-radius: 2px;
  }
  .meta {
    display: flex;
    flex-direction: column;
    margin-left:10px;

    .title,.description{
        margin-bottom: 5px;
    }
  }
}
